<div class="columns">
  <div class="column is-5">
    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Year from</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.yearFrom" class="input" type="text" placeholder="1980">
          </div>
        </div>
      </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Year to</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.yearTo" class="input" type="text" placeholder="2018">
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Network type</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="select">
          <select [(ngModel)]="stationsModel.selectedNetworkType">
            <option *ngFor="let t of stationsModel.networkTypes" [ngValue]="t">{{t.name}}</option>
          </select>
        </div>
      </div>
    </div>
  </div> -->

    <!-- <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">Network search</label>
    </div>
    <div class="field-body">
      <div class="field">
        <div class="control">
          <input #searchBox id="search-network" (keyup)="search_network(searchBox.value)" class="input" type="text">
        </div>
      </div>
    </div>
  </div>
  
  <span *ngFor="let n of networks_search$ | async" class="tag">
    {{ n.code }} ({{ n.start }})
  </span> -->

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Network</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="select">
            <select [(ngModel)]="stationsModel.selectedNetwork" (ngModelChange)="networkChanged($event)" style="width:100%;">
              <option selected>All</option>
              <option *ngFor="let n of stationsService.allNetworks" [ngValue]="n">{{n.code}} - ({{n.start}}) -
                {{n.desc}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Station</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="select">
            <select [(ngModel)]="stationsModel.selectedStation" (ngModelChange)="stationChanged($event)" style="width:100%;">
              <option selected>All</option>
              <option *ngFor="let s of filteredStations" [ngValue]="s">{{s.stat}} - {{s.name}} ({{s.start}})</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Coordinate (N)</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.coordinateN" class="input" type="text" placeholder="90">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Coordinate (S)</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.coordinateS" class="input" type="text" placeholder="-90">
          </div>
        </div>
      </div>
    </div>


    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Coordinate (E)</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.coordinateE" class="input" type="text" placeholder="180">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label is-normal">
        <label class="label">Coordinate (W)</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="control">
            <input [(ngModel)]="stationsModel.coordinateW" class="input" type="text" placeholder="-180">
          </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-half">
        <button class="button is-danger is-fullwidth" (click)="reset();">Reset</button>
      </div>
      <div class="column is-half">
        <button class="button is-success is-fullwidth" (click)="add();">Add</button>
      </div>
    </div>
    <div *ngIf="paginator.getTotalPages() > 0">
      <button class="button is-warning is-fullwidth" (click)="removeAllStations();">Remove all stations ({{
        selectedStations.length }})</button>
    </div>
  </div>
  <!-- List of stations -->
  <div class="column">
    <article *ngIf="paginator.getTotalPages() === 0" class="message is-info">
      <div class="message-body">
        Selected stations will appear here.
      </div>
    </article>
    <div *ngIf="paginator.getTotalPages() > 0">
      <nav class="pagination is-right" role="navigation" aria-label="pagination">
        <a class="pagination-previous" id="previousPageButton" (click)="paginator.getPreviousPage()" [attr.disabled]="paginator.previousPageExists() ? null : true">Previous</a>
        <a class="pagination-next" id="nextPageButton" (click)="paginator.getNextPage()" [attr.disabled]="paginator.nextPageExists() ? null : true">Next</a>
        <ul class="pagination-list">
          <li><a *ngIf="paginator.previousPageExists()" class="pagination-link" aria-label="Goto page 1" (click)="paginator.getFirstPage()">1</a></li>
          <li><span *ngIf="paginator.previousPageExists()" class="pagination-ellipsis">&hellip;</span></li>
          <!-- <li><a *ngIf="paginator.previousPageExists()" class="pagination-link" aria-label="Goto page 45">45</a></li> -->
          <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">{{paginator.getCurrentPageNumber()}}</a></li>
          <!-- <li><a *ngIf="paginator.nextPageExists()" class="pagination-link" aria-label="Goto page 47">47</a></li> -->
          <li><span *ngIf="paginator.nextPageExists()" class="pagination-ellipsis">&hellip;</span></li>
          <li><a *ngIf="paginator.nextPageExists()" class="pagination-link" aria-label="Goto page 86" (click)="paginator.getLastPage()">{{paginator.getLastPageNumber()}}</a></li>
        </ul>
      </nav>
      <hr>
      <table class="table is-fullwidth" id="stationsTable">
        <tbody>
          <tr *ngFor="let station of paginator.getCurrentPage()">
            <td>
              <a (click)="focusOnStation(station)">{{station.net}} / {{station.stat}}</a>
              <p class="is-size-7">{{station.name}}</p>
            </td>
            <td>
              <button style="width: 100%;" (click)="stationsService.toggleStationSelection(station)" [ngClass]="station.selected ? 'button is-small is-success' : 'button is-small is-light'">
                {{station.selected ? "Selected" : "Skipped"}}</button>
            </td>
            <td>
              <button style="width: 100%" (click)="stationsService.removeStationSelection(station)" class="button is-small is-danger is-inverted">Remove</button>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <!-- /List of stations -->
</div>
