<div class="columns">
  <div class="column is-5">
    <h1 class="title is-5 has-text-centered">Event information</h1>
    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Catalog</label>
      </div>
      <div class="field-body">
        <div class="field">
          <div class="select" [attr.data-tippy-content]="textService.getText('events-tip-catalog')">
            <select [(ngModel)]="eventsModel.selectedCatalog">
              <option *ngFor="let c of eventsModel.catalogs" [ngValue]="c">{{c.name}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Minimum magnitude</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-mag-min')">
          <div class="control">
            <input [(ngModel)]="eventsModel.minimumMagnitude" class="input" type="text" placeholder="0">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Date from</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-date-from')">
          <div class="control">
            <input [(ngModel)]="eventsModel.dateFrom" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Date to</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-date-to')">
          <div class="control">
            <input [(ngModel)]="eventsModel.dateTo" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Depth from</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-depth-from')">
          <div class="control">
            <input [(ngModel)]="eventsModel.depthFrom" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Depth to</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-depth-to')">
          <div class="control">
            <input [(ngModel)]="eventsModel.depthTo" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Coordinate (N)</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-coord-n')">
          <div class="control">
            <input [(ngModel)]="eventsModel.coordinateN" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Coordinate (S)</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-coord-s')">
          <div class="control">
            <input [(ngModel)]="eventsModel.coordinateS" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Coordinate (E)</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-coord-e')">
          <div class="control">
            <input [(ngModel)]="eventsModel.coordinateE" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>

    <div class="field is-horizontal">
      <div class="field-label">
        <label class="label">Coordinate (W)</label>
      </div>
      <div class="field-body">
        <div class="field" [attr.data-tippy-content]="textService.getText('events-tip-coord-w')">
          <div class="control">
            <input [(ngModel)]="eventsModel.coordinateW" class="input" type="text" placeholder="1">
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-half">
        <span class="button is-danger is-fullwidth" (click)="reset();" [attr.data-tippy-content]="textService.getText('events-tip-reset')">Reset</span>
      </div>
      <div class="column is-half">
        <span class="button is-success is-fullwidth" (click)="search();" [attr.data-tippy-content]="textService.getText('events-tip-search')">Search</span>
      </div>
    </div>

  </div>
  <div class="column">
    <article class="message is-info">
      <div class="message-body">
        Selected events will appear here.
      </div>
    </article>
  </div>
</div>
