<style>
  input[type="radio"],
    .tab-pane {
      display: none;
    }
  
    #stations:checked~.tab-content>.content-stations,
    #events:checked~.tab-content>.content-events,
    #request:checked~.tab-content>.content-request,
    #console:checked~.tab-content>.content-console {
      display: block;
    }
  </style>

<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-6 is-vertical is-parent">
      <!-- Nav tabs -->
      <input type="radio" id="stations" name="nav-tab">
      <input type="radio" id="events" name="nav-tab">
      <input type="radio" id="request" name="nav-tab">
      <input type="radio" id="console" name="nav-tab" checked="checked">

      <div class="tabs is-boxed is-fullwidth">
        <ul>
          <li id="stationsTab">
            <label for="stations">
              <a (click)="tabSelected('#stationsTab')">
                <span class="icon"><i class="fas fa-globe-americas"></i></span>
                <span>Stations</span>
              </a>
            </label>
          </li>
          <li id="eventsTab">
            <label for="events">
              <a (click)="tabSelected('#eventsTab')">
                <span class="icon"><i class="fas fa-map"></i></span>
                <span>Events</span>
              </a>
            </label>
          </li>
          <li id="requestTab">
            <label for="request">
              <a (click)="tabSelected('#requestTab')">
                <span class="icon"><i class="fas fa-download"></i></span>
                <span>Request</span>
              </a>
            </label>
          </li>
          <li class="is-active" id="consoleTab">
            <label for="console">
              <a (click)="tabSelected('#consoleTab')">
                <span class="icon"><i class="fas fa-terminal"></i></span>
                <span>Console ({{consoleService.getMsgCount()}})</span>
              </a>
            </label>
          </li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane content-stations">
          <div class="tile is-child">
            <app-stations></app-stations>
          </div>
        </div>
        <div class="tab-pane content-events">
          <div class="tile is-child">
            <app-events></app-events>
          </div>
        </div>
        <div class="tab-pane content-request">
          <app-request></app-request>
        </div>
        <div class="tab-pane content-console">
          <app-console></app-console>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
