<style>
  input[type="radio"],
  .tab-pane {
    display: none;
  }

  #events:checked ~ .tab-content > .content-events,
  #stations:checked ~ .tab-content > .content-stations,
  #request:checked ~ .tab-content > .content-request,
  #metrics:checked ~ .tab-content > .content-metrics,
  #help:checked ~ .tab-content > .content-help {
    display: block;
  }
</style>

<nav class="navbar is-light">
  <div class="navbar-brand">
    <a class="navbar-item">
      <h1 class="title">EIDA Portal</h1>
    </a>
    <div
      class="navbar-burger burger"
      data-target="navbarExampleTransparentExample"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a
        class="navbar-item"
        (click)="uiService.toggleVisibility('mapToggler', 'mapContainer')"
      >
        <span class="icon">
          <i class="fas fa-toggle-off" id="mapToggler"></i>
        </span>
        <span>
          Map
        </span>
      </a>

      <a
        class="navbar-item"
        (click)="uiService.toggleTooltips('tooltipsToggler')"
      >
        <span class="icon">
          <i class="fas fa-toggle-off" id="tooltipsToggler"></i>
        </span>
        <span>
          Tooltips
        </span>
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div
          id="tokenAttachButton"
          class="file"
          [attr.data-tippy-content]="
            textService.getText('dash-attach-token')
          "
        >
          <label class="file-label">
            <input
              id="fdsn-token-input"
              class="file-input"
              type="file"
              name="fdsnws-token"
              (change)="attachEidaToken($event.target.files[0])"
            />
            <span class="file-cta">
              <span class="file-icon">
                <i class="fas fa-unlock"></i>
              </span>
              <span id="tokenAttachButtonText" class="file-label">
                Attach EIDA Token
              </span>
            </span>
          </label>
        </div>
      </div>
      <div
        id="tokenDetachButton"
        class="navbar-item"
        [attr.data-tippy-content]="
          textService.getText('dash-detach-token')
        "
      >
        <a class="button is-danger" (click)="detachEidaToken()"
          ><span class="file-icon"> <i class="fas fa-lock"></i> </span>Detach
          Token</a
        >
      </div>
    </div>
  </div>
</nav>

<div id="mapContainer" hidden>
  <app-map></app-map>
</div>

<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent">
      <!-- Nav tabs -->
      <input type="radio" id="events" name="nav-tab" checked="checked" />
      <input type="radio" id="stations" name="nav-tab" />
      <input type="radio" id="request" name="nav-tab" />
      <input type="radio" id="metrics" name="nav-tab" />
      <input type="radio" id="help" name="nav-tab" />

      <div
        class="tabs is-boxed"
        [attr.data-tippy-content]="textService.getText('dash-tip-tabs')"
      >
        <ul id="menuTabs">
          <li class="is-active" id="eventsTab">
            <label for="events">
              <a (click)="tabSelected('#eventsTab')">
                <span class="icon"><i class="fas fa-map"></i></span>
                <span>Events</span>
              </a>
            </label>
          </li>
          <li id="stationsTab">
            <label for="stations">
              <a (click)="tabSelected('#stationsTab')">
                <span class="icon"><i class="fas fa-globe-americas"></i></span>
                <span>Stations</span>
              </a>
            </label>
          </li>
          <li id="requestTab">
            <label for="request">
              <a (click)="tabSelected('#requestTab')">
                <span class="icon"><i class="fas fa-download"></i></span>
                <span>Request</span>
              </a>
            </label>
          </li>
          <li id="metricsTab">
            <label for="metrics">
              <a (click)="tabSelected('#metricsTab')">
                <span class="icon"><i class="fas fa-chart-bar"></i></span>
                <span>Metrics</span>
              </a>
            </label>
          </li>
          <li id="helpTab">
            <label for="help">
              <a (click)="tabSelected('#helpTab')">
                <span class="icon"><i class="fas fa-question"></i></span>
                <span>Help</span>
              </a>
            </label>
          </li>
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane content-events">
          <div class="tile is-child">
            <app-events></app-events>
          </div>
        </div>
        <div class="tab-pane content-stations">
          <div class="tile is-child">
            <app-stations></app-stations>
          </div>
        </div>
        <div class="tab-pane content-request">
          <app-request></app-request>
        </div>
        <div class="tab-pane content-metrics">
          <app-metrics></app-metrics>
        </div>
        <div class="tab-pane content-help">
          <app-help></app-help>
        </div>
      </div>
    </div>
  </div>
</div>
