<section class="hero is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        EIDA Portal
      </h1>
      <h2 class="subtitle">
        Stations and Events browser
      </h2>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
<section class="section">
  <div class="tile is-ancestor">
      <div class="tile is-parent">
        <div class="tile is-child">
          <p class="title">Console</p>
          <app-console></app-console>
        </div>
      </div>
    </div>
</section>
