<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link href="../../node_modules/bulma/css/bulma.css" rel="stylesheet">
  <title>EIDA Portal</title>
</head>

<body>
  <section class="hero is-light">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          EIDA Portal
        </h1>
        <h2 class="subtitle">
          Stations and Events browser
        </h2>
      </div>
    </div>
  </section>
  <section class="section">
    <app-stations></app-stations>
    <app-events></app-events>
    <app-console></app-console>
  </section>
</body>

</html>
