<div class="field">
  <label class="label">Datetime from</label>
  <div class="control">
    <input class="input" type="text" placeholder="YYYY-MM-DDTHH:MM:SS">
  </div>
  <p class="help">Example: "2017-01-01T12:00:00"</p>
</div>

<div class="field">
  <label class="label">Datetime to</label>
  <div class="control">
    <input class="input" type="text" placeholder="YYYY-MM-DDTHH:MM:SS">
  </div>
  <p class="help">Example: "2018-01-01T12:00:00"</p>
</div>

<div class="control">
  <label class="label">FDSN request type</label>
  <p>
    <label class="radio">
      <input type="radio" name="rsvp"> Waveform (Mini-SEED)
    </label>
  </p>
  <p>
    <label class="radio">
      <input type="radio" name="rsvp"> Metadata (StationXML)
    </label>
  </p>
  <p>
    <label class="radio">
      <input type="radio" name="rsvp"> Metadata (Text)
    </label>
  </p>
</div>
