<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child">
        <p class="title">Stations</p>
        <app-stations></app-stations>
      </div>
      <div class="tile is-child">
        <p class="title">Events</p>
        <app-events></app-events>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child">
        <p class="title">Map</p>
        <app-map></app-map>
      </div>
    </div>
  </div>
</div>
