<div id="smap"></div>
<div id="smap-popup-container" class="smap-popup-container">
  <a href="#" id="smap-popup-closer" class="smap-popup-closer"></a>
  <div id="smap-popup-content" class="smap-popup-content"></div>
</div>
<div id="smap-tooltip-container" class="smap-tooltip-container"></div>
<div>
  <span class="knmi-legend">Legend:</span>
  <img src="../../assets/img/markers/triangle-green.png" alt="Icon Open Station" style="margin-left: 20px;"> Open Station /
  <img src="../../assets/img/markers/triangle-red.png" alt="Icon Open Station"> Closed Station
  <img src="../../assets/img/markers/icon_earthquake_geinduceerd.png" alt="Icon Induced Earthquake"
    style="margin-left: 20px;"> Induced Earthquake /
  <img src="../../assets/img/markers/icon_earthquake_tektonisch.png" alt="Icon Tectonic Earthquake"> Tectonic Earthquake
</div>
